.navbar .nav.navbar-nav > li > a {
  height: @navbar-height;
}

.dropdown .circular-icon {
  width: 30px;
  height: 30px;
  margin: -15px 5px;
  border: 2px solid rgba(129, 122, 122, 0.62);
  border-radius: 50%;
  // padding: 10px;
  display: inline-block;
}
.righty-nav {
  height: 100%;
  margin-left: auto;
}

.cart-small {
  height: 100%;
}

.little-cart span {
  margin-bottom: auto;
}

.cart-icon.little-cart {
  margin: 10px;
  padding: 10px;
  height: auto;
  line-height: auto;
}

.navbar-toggle {
  cursor: pointer;
}

.hamburger-color {
  color: #32312D;
}

.dropdown .dropdown-apps-icon {
  cursor: pointer;
  white-space: nowrap;
  display: block;
  border-bottom: 1px solid @black10;
}

.dropdown .dropdown-apps-icon:last-child {
  border-bottom: none;
}

.dropdown .dropdown-apps-icon a {
  color: @gray;
  text-decoration: none;
  display: block;
  padding: 5px 0;

}

.dropdown .dropdown-apps-icon a:hover,
.dropdown .dropdown-apps-icon a:focus {
  color: @brand-vivid-color;
  text-decoration: none;
  background-color: transparent;
}
