<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>GetOutfitted Order Confirmation for Reservation Dates {{reservation.start}} - {{reservation.end}}</title>
</head>
<body style="width:100% !important;height:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;line-height:1.4;background-color:#F2F4F6;color:#74787E;-webkit-text-size-adjust:none;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;" >
  <span style="display:none !important;" >This is a receipt for your recent purchase on {{orderDate}}. No payment is due with this receipt.</span>
  <table width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;background-color:#F2F4F6;" >
    <tr>
      <td align="center">
        <table width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;" >
          <tr>
            <td style="padding-top:25px;padding-bottom:25px;padding-right:0;padding-left:0;text-align:center;" >
              <a href="https://getoutfitted.com" style="font-size:16px;font-weight:bold;color:#bbbfc3;text-decoration:none;text-shadow:0 1px 0 white;" >
      <img src="https://d2wpxyz1up89r3.cloudfront.net/logos/getoutfitted-wordmark.png" alt="GetOutfitted" style="border-style:none;" >
    </a>
            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;border-top-width:1px;border-top-style:solid;border-top-color:#EDEFF2;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;background-color:#FFFFFF;" >
              <table align="center" width="570" cellpadding="0" cellspacing="0" style="width:570px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:570px;-premailer-cellpadding:0;-premailer-cellspacing:0;background-color:#FFFFFF;" >
                <!-- Body content -->
                <tr>
                  <td style="padding-top:35px;padding-bottom:35px;padding-right:35px;padding-left:35px;" >
                    <h1 style="margin-top:0;color:#2F3133;font-size:19px;font-weight:bold;text-align:left;" >Hi {{billing.address.fullName}},</h1>
                    <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" >Thanks for choosing GetOutfitted! This email is the confirmation that we've received your reservation and have scheduled delivery for the items you've ordered. This order has already been paid and no further payment is due.</p>
                    <!-- Discount -->

                    <table width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:25px;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;" >
                      <tr>
                        <th style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                          <p style="line-height:1.5em;text-align:left;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Order Number</p>
                        </th>
                        <th style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                          <p style="line-height:1.5em;text-align:right;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Order Placed</p>
                        </th>
                      </tr>
                      <tr>
                        <td width="80%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" ><a href="{{homepage}}{{orderUrl}}" style="color:#3FA5BC;" >{{order.orderNumber}}</a></td>
                        <td width="20%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" >{{orderDate}}</td>
                      </tr>
                    </table>

                    <table width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:25px;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;" >
                      <tr>
                        <td colspan="3">
                          <h3 style="margin-top:0;color:#2F3133;font-size:14px;font-weight:bold;text-align:left;" >Your Reservation</h3>
                        </td>
                      </tr>
                      <tr>
                        <th width="34%" style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                          <p style="line-height:1.5em;text-align:left;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Dates</p>
                        </th>
                        <th width="33%" style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                          <p style="line-height:1.5em;text-align:center;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Length</p>
                        </th>
                        <th width="33%" style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                          <p style="line-height:1.5em;text-align:right;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Delivery</p>
                        </th>
                      </tr>
                      <tr>
                        <td width="34%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" ><p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" >{{reservation.start}} - {{reservation.end}}</p></td>
                        <td width="33%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" ><p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:center;" >{{reservation.length}} Days</p></td>
                        <td width="33%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" ><p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:right;" >{{reservation.delivery}}</p></td>
                      </tr>
                    </table>

                    <table width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:25px;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;" >
                      <tr>
                        <th width="50%" style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" ><p style="line-height:1.5em;text-align:left;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Shipping</p></th>
                        <th width="50%" style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" ><p style="line-height:1.5em;text-align:left;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Billing</p></th>
                      </tr>
                      <tr>
                        <td width="50%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;line-height:18px;vertical-align:top;font-size:12px;" >
                          {{shipping.address.fullName}}<br>
                          {{#if shipping.address.company}}{{shipping.address.company}}<br>{{/if}}
                          {{shipping.address.address1}}<br>
                          {{#if shipping.address.address2}}{{shipping.address.address2}}<br>{{/if}}
                          {{shipping.address.city}}, {{shipping.address.region}} {{shipping.address.postal}}<br>
                          {{shipping.address.phone}}
                        </td>

                        <td width="50%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;line-height:18px;vertical-align:top;font-size:12px;" >
                          {{billing.address.fullName}}<br>
                          {{#if billing.address.company}}{{billing.address.company}}<br>{{/if}}
                          {{billing.address.address1}}<br>
                          {{#if billing.address.address2}}{{billing.address.address2}}<br>{{/if}}
                          {{billing.address.city}}, {{billing.address.region}} {{billing.address.postal}}<br>
                          {{billing.address.phone}}<br>
                          <br>
                          Payment: {{billing.paymentMethod.storedCard}}
                        </td>
                      </tr>
                    </table>
                    
                    <table width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:35px;padding-bottom:35px;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;" >
                      <tr>
                        <td colspan="2">
                          <table width="100%" cellpadding="0" cellspacing="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:25px;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;" >
                            <tr>
                              <th style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                                <p style="line-height:1.5em;text-align:left;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Description</p>
                              </th>
                              <th style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                                <p style="line-height:1.5em;text-align:right;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >Amount</p>
                              </th>
                              <th style="padding-bottom:8px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EDEFF2;" >
                                <p style="line-height:1.5em;text-align:right;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#9BA2AB;font-size:12px;" >QTY</p>
                              </th>
                            </tr>
                            {{#each rentalItems}}
                              <tr>
                                <td width="70%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" >{{variants.title}}</td>
                                <td width="20%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" >${{variants.price}}</td>
                                <td width="10%" style="padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;color:#74787E;font-size:15px;line-height:18px;" >{{quantity}}</td>
                              </tr>
                            {{/each}}
                            <tr>
                              <td width="80%" colspan="2" valign="middle" style="padding-top:15px;border-top-width:1px;border-top-style:solid;border-top-color:#EDEFF2;" >
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >Subtotal</p>
                              </td>
                              <td width="20%" valign="middle" style="padding-top:15px;border-top-width:1px;border-top-style:solid;border-top-color:#EDEFF2;" >
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >${{billing.subtotal}}</p>
                              </td>
                            </tr>
                            <tr>
                              <td width="80%" colspan="2" valign="middle">
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >Shipping</p>
                              </td>
                              <td width="20%" valign="middle">
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >${{billing.shipping}}</p>
                              </td>
                            </tr>
                            <tr>
                              <td width="80%" colspan="2" valign="middle">
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >Tax</p>
                              </td>
                              <td width="20%" valign="middle">
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >${{billing.taxes}}</p>
                              </td>
                            </tr>
                            <!-- <tr>
                              <td width="80%" colspan="2" valign="middle">
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >Discounts</p>
                              </td>
                              <td width="20%"  valign="middle">
                                <p style="color:#74787E;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-size:12px;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;" >${{billing.discounts}}</p>
                              </td>
                            </tr> -->
                            <tr>
                              <td width="80%" colspan="2" valign="middle" style="padding-top:15px;border-top-width:1px;border-top-style:solid;border-top-color:#EDEFF2;" >
                                <p style="font-size:16px;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-weight:bold;color:#2F3133;padding-top:0;padding-bottom:0;padding-right:15px;padding-left:0;" >Total</p>
                              </td>
                              <td width="20%" valign="middle" style="padding-top:15px;border-top-width:1px;border-top-style:solid;border-top-color:#EDEFF2;" >
                                <p style="font-size:16px;line-height:1.5em;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:right;font-weight:bold;color:#2F3133;" >${{billing.total}}</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" >You received this email because you placed an order with GetOutfitted.<br>
                      If you have any questions about your reservation, simply reply to this email or call our support team for help <a href="tel:18886180305" style="color:#3FA5BC;" >(888) 618-0305</a>.</p>
                    <p style="margin-top:0;color:#74787E;font-size:16px;line-height:1.5em;text-align:left;" >Cheers,
                      <br>The GetOutfitted Team</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table align="center" width="570" cellpadding="0" cellspacing="0" style="width:570px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-premailer-width:570px;-premailer-cellpadding:0;-premailer-cellspacing:0;text-align:center;" >
                <tr>
                  <td align="center" style="padding-top:35px;padding-bottom:35px;padding-right:35px;padding-left:35px;" >
                    <p style="margin-top:0;line-height:1.5em;text-align:center;color:#AEAEAE;font-size:12px;" >&copy; 2016 GetOutfitted. All rights reserved.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
