.blog-title {
  line-height: 1;
  margin-top: 20px;
}

.blog-article-date {
  font-size: 80%;
}

.blog-article-title {
  font-size: 20px;
  line-height: 1.4;
}


.blog-article-title a {
  color: #333;
}
.blog-article-title a:hover {
  color: $primary-color;
}

@media (min-width: @screen-md-min) {
  .blog-article-title {
    font-size: 27px;
    line-height: 1.5;
  }
}
