.location-selector.mtb-locations {
}

.mtb-locations strong {
  font-weight: 700;
  font-size: 1.6rem;
  color: #FFF;
}

.mtb-locations a {
  color: #FFF;
  text-decoration: underline;
  line-height: 1.8;
  &:hover {
    color: #9BF;
  }
}
