.go-how-it-works {
  background: @silver;
}

.product-container .go-how-it-works .container {
  border-top: 1px solid @secondary-color;
}

.go-how-it-works .section-header {
  color: @brand-dark-color;
  padding: 0 0 40px;
  text-transform: none;
  font-size: 26px;
}

.how-it-works-step .position {
  display: inline-block;
  border-radius: 50%;
  font-size: 32px;
  padding: 20px 34px;
  // border: 30px solid @primary-color;
  // line-height: 0.5;
  color: @white;
  background: @primary-color;
}

.how-it-works-step h3 {
  font-size: 22px;
  text-transform: none;
  font-weight: 400;
  color: @brand-dark-color;
  padding: 0 15px;
}

.how-it-works-step p {
  font-size: 13px;
  color: @brand-dark-color;
  padding: 0 20px;
}
