.leadImage > img {
  width: 100%;
  min-height: 100px;
}

.galleryDropPane {
  position: relative;
}

.galleryDropPane .gallery li:first-child {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  padding: 2px;
  margin: 0;
  width: 24%;
  height: 24%;
  cursor: pointer;
}

/* image gallery select/reorder/upload */
.productCartImage {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  padding: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  
  .gallery-tools {
    visibility: hidden;
    padding: 10px;
    position:absolute;
    bottom:0px;
    right:0px;
  }
  .progress {
    position: relative;
    height: 5px;
    top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    display: block;
    }

  &:hover {
    background-color: @list-group-hover-bg;
    opacity: 0.7;
    cursor: pointer;
    .gallery-tools {
      visibility: visible;
      opacity: 1;
      a {
        color: @vivid-color;
        &:hover {
          color: @vivid-color-shadow;
        }
      }
    }
  }
}
#cartDropzone {
  padding-top:80px;
  Margin-top:10px;
  border: 2px dashed @silver;
}

#cartDropzone:after {
  content: "\f218";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 48px;
  color: @vapor;
  top: 50%;
  left: 50%;
  z-index: 1;
}
