.prefix.large, .postfix.large {
  height: 3.25rem;
  line-height: 3.25rem;
  font-size: 1em;
}

input[type="text"].large, input[type="email"].large, input[type="number"].large {
  height: 3.25rem;
  font-size: 1.5em;
}


// // Radio button redesign
// input[type="radio"] {
//     display:none;
// }
// input[type="radio"] + label {
//   border-radius: 5px;
//   padding: 5px 5px;
//     background: transparent;
//     color: #444;
//     font-size:14px;
// }
// input[type="radio"] + label span {
//     display:inline-block;
//     position: relative;
//     width:14px;
//     height:14px;
//     margin:-3px 4px 0 0;
//     vertical-align:middle;
//     cursor:pointer;
//     -moz-border-radius:  3px;
//     border-radius:  50%;
//     background: transparent;
//     border: 1px solid #444;
//   i { display: none; }
// }
//
// input[type="radio"]:checked + label {
// }
//
// input[type="radio"]:checked + label span {
//      position: relative;
//     display: inline-block;
//     border: 1px solid #333;
//   i {
//     display: block;
//     width: 12px;
//     height: 12px;
//     position: relative;
//     color: #444;
//     background: #333;
//     border-radius: 50%;
//     border: 2px solid #fff;
//   }
// }
//
// input[type="radio"] + label span,
// input[type="radio"]:checked + label span {
//   -webkit-transition:background-color 0.4s linear;
//   -o-transition:background-color 0.4s linear;
//   -moz-transition:background-color 0.4s linear;
//   transition:background-color 0.4s linear;
// }

select.large {
  height: 3.25rem;
  font-size: 1.125em;
  background-size: 3rem 0.65rem;
}

select.hero-select {
  background-size: 4rem 1rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.75rem;
  color: @oil;
  line-height: normal;
  height: 4.75rem;
}
